<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
			
			    <div class="offset-md-2 col-md-8">
			        <fieldset class="form-group">
			            <legend class="border-bottom mb-4">
			            	<div class="row">
				            	<h2 class="col-10" th:text="${bet.subject}"></h2>
				            	<div class="col-2 text-center align-self-center" th:if="${bet.result != null}">
				            		<i class="fas fa-thumbs-up pb-icon-sm" th:if="${bet.result}"></i>
				            		<i class="fas fa-thumbs-down pb-icon-sm" th:unless="${bet.result}"></i>
				            	</div>
			            	</div>
		            	</legend>
			    
			    		<div class="row mb-5">
				    		
				    		<div class="col-12" th:if="${bet.result != null}">					    		
					    		<div th:if="${isParticipating != null}">
						    		<div class="form-group col-12 mb-3 text-center" th:if="${bet.moneyPerWinner != null}">
							    		<label class="font-weight-bold mb-1">You won</label>
							    		<input class="form-control font-weight-bold text-center offset-lg-4 col-lg-4 pb-agree-result" type="text" th:value="${bet.moneyPerWinner}" disabled>
						    		</div>
						    		<div class="form-group col-12 mb-3 text-center" th:unless="${bet.moneyPerWinner != null}">
							    		<label class="font-weight-bold mb-1">You lost</label>
							    		<input class="form-control font-weight-bold text-center offset-lg-4 col-lg-4 pb-disagree-result" type="text" th:value="${bet.amount}" disabled>
						    		</div>
					    		</div>
				    		</div>
				    		
				    		<div class="form-group col-lg-6 mb-3">
					    		<label class="font-weight-bold">Bet Amount</label>
					    		<input class="form-control font-weight-bold" type="text" th:value="${bet.amount}" disabled>
				    		</div>
					    		
				    		<div class="form-group col-lg-6 mb-3">
					    		<label class="font-weight-bold">Bet's owner</label>
					    		<input class="form-control font-weight-bold" type="text" th:value="${bet.owner.nickname}" disabled>
				    		</div>
				    		
				    		<div class="form-group col-lg-6 mb-3">
					    		<label class="font-weight-bold">Ending Date</label>
					    		<input class="form-control font-weight-bold" type="text" th:value="${#dates.format(bet.endingDate, 'dd MMMMM yyyy')}" disabled>
				    		</div>
					    		
				    		<div class="form-group col-lg-6 mb-0">
					    		<label class="font-weight-bold">Creation Date</label>
					    		<input class="form-control font-weight-bold" type="text" th:value="${#dates.format(bet.creationDate, 'dd MMMMM yyyy')}" disabled>
				    		</div>
			    		</div>
			    		
			            <!-- User answer -->
			            <div class="mb-5" th:if="${canAnswer != null}">
						
							<h2 class="">Answer to the bet</h2>
							
							<p th:text="${bet.subject}"></p>
							
							<div class="btn-group">
					            <form class="mr-3" th:action="@{/bet/} + ${bet.id} + @{/participate/accept/true}" method="post">
					            	<button type="submit" class="btn btn-outline-dark pb-btn-agree-lg"><i class="fas fa-thumbs-up"></i></button>
					            </form>
					            
					            <form class="mr-3" th:action="@{/bet/} + ${bet.id} + @{/participate/accept/false}" method="post">
					            	<button type="submit" class="btn btn-outline-dark pb-btn-disagree-lg"><i class="fas fa-thumbs-down"></i></button>
					            </form>
					            
					            <form th:action="@{/bet/} + ${bet.id} + @{/participate/refuse}" method="post">
					            	<button type="submit" class="btn btn-outline-dark pb-btn-neutral-lg"><i class="fas fa-trash-alt"></i></button>
					            </form>
				            </div>
			            </div>
			            
			            <!-- Confirmation -->
						<div class="mb-5" th:if="${canConfirmBet != null}">
						
							<h2 class="">Bet result</h2>
							
							<p>
								Answer True if the result of this bet was true, false otherwise.
							</p>
							
							<div class="btn-group">
								<form class="mr-3" th:action="@{/bet/} + ${bet.id} + @{/confirm/true}" method="post">
					            	<button type="submit" class="btn btn-outline-dark pb-btn-agree-lg"><i class="fas fa-thumbs-up pb-icon-sm"></i></button>
					            </form>
					            
					            <form th:action="@{/bet/} + ${bet.id} + @{/confirm/false}" method="post">
					            	<button type="submit" class="btn btn-outline-dark pb-btn-disagree-lg"><i class="fas fa-thumbs-down pb-icon-sm"></i></button>
					            </form>
							</div>
						</div>
						
			            <!-- Invitation -->
						<form th:if="${users != null}" th:action="@{/bet/} + ${bet.id}" th:object="${invitation}" method="post">
				            <div class="mb-5">
								<div th:if="${#lists.size(users) &gt; 0}">
									<div class="form-row">
										<div class="col-12">
											<h2>Invitation</h2>
											<p>Invite user to participate to this bet!</p>
										</div>
										<div class="col-md-6 pr-3">
											<select class="form-control form-control-lg" th:field="*{user}">
											    <option th:each="user : ${users}"
									                          th:value="${user.id}"
									                          th:utext="${user.nickname}"/>
											</select>
										</div>
										<div class="col-md-6 mt-3 mt-md-0">
											<button type="submit" class="btn btn-dark pb-btn-lg">Add participant</button>
										</div>
									</div>
								</div>
								<div th:unless="${#lists.size(users) &gt; 0}">
									All existing users has been added to this bet!
								</div>
				            </div>
						</form>
						
			            <!-- Participant -->
						<h2>Participants</h2>
						<p>The list of user that participate to this bet, their choice is available on the right of each one.</p>
						<div th:if="${#lists.size(participations) &gt; 0}">
							<div class="row mb-3" th:each="participation : ${participations}">
								<div class="col-7 col-lg-10">
					    			<input class="form-control font-weight-bold text-center" type="text" th:value=${participation.user.nickname} disabled>
								</div>
								<div class="col-5 col-lg-2 text-center">
					    			<!-- <input class="form-control font-weight-bold text-center" th:classappend="${participation.agree} ? pb-agree : pb-disagree" type="text" disabled> -->
									<i class="fas fa-thumbs-up pb-icon-sm" th:if="${participation.agree}"></i>
									<i class="fas fa-thumbs-down pb-icon-sm" th:unless="${participation.agree}"></i>
								</div>
							</div>
						</div>
						<div th:unless="${#lists.size(participations) &gt; 0}">
							No user is yet participating to this bet!
						</div>
			        </fieldset>
			    </div>
			
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/endbody :: endbody"></div>
</body>
</html>