<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
			
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-4 mb-5" th:each="bet : ${betList}">
						<div class="card bg-light">
							<div class="card-header"><h2 th:text="${bet.subject}"></h2></div>
						    <div class="card-body">

					    		<div class="form-group">
						    		<label class="font-weight-bold">Ending Date</label>
						    		<input class="form-control font-weight-bold" type="text" th:value="${#dates.format(bet.endingDate, 'dd MMMMM yyyy')}" disabled>
					    		</div>
					    		
					    		<div class="form-group">
						    		<label class="font-weight-bold">Bet's owner</label>
						    		<input class="form-control font-weight-bold" type="text" th:value="${bet.owner.nickname}" disabled>
					    		</div>
					    		
								<div class="form-group row">
						            <div class="col-12 mb-3">
							            <form th:action="@{/bet/} + ${bet.id}" method="get">
							            	<button type="submit" class="btn btn-outline-dark pb-btn-neutral-md">
							            		<i class="fas fa-search-plus"></i>
							            		Detail
						            		</button>
							            </form>
							        </div>
						            
						            <div class="btn-group col-12">
							            <form class="mr-3" th:if="${canModify != null}" th:action="@{/bet/} + ${bet.id} + @{/update}" method="get">
							            	<button type="submit" class="btn btn-outline-dark pb-btn-neutral-2-md">
							            		<i class="fas fa-edit"></i>
							            		Modify
						            		</button>
							            </form>
							            
							            <form th:if="${canDelete != null}" th:action="@{/bet/} + ${bet.id} + @{/delete}" method="post">
							            	<button type="submit" class="btn btn-outline-dark pb-btn-danger-md">
							            		<i class="fas fa-trash-alt"></i>
							            		Delete
						            		</button>
							            </form>
						            </div>
					            </div>
						    </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div th:if="${betList != null && !betList.isEmpty()}" class="row">
			<div class="col-12">
				<nav aria-label="Pagination" th:switch="${pagePagination}">
					<ul th:case="normal" class="pagination justify-content-center">
						<li class="page-item" th:each="pageNumber : ${pageNumbers}" th:switch="${pageState}">
							<a th:case="waiting" class="page-link" th:href="@{|/bet/user/waiting/${pageNumber}|}" th:text="${pageNumber}"></a>
							<a th:case="active" class="page-link" th:href="@{|/bet/user/active/${pageNumber}|}" th:text="${pageNumber}"></a>
							<a th:case="ended" class="page-link" th:href="@{|/bet/user/ended/${pageNumber}|}" th:text="${pageNumber}"></a>
							<a th:case="closed" class="page-link" th:href="@{|/bet/user/closed/${pageNumber}|}" th:text="${pageNumber}"></a>
						</li>
					</ul>
					<ul th:case="created" class="pagination justify-content-center">
						<li class="page-item" th:each="pageNumber : ${pageNumbers}" th:switch="${pageState}">
							<a th:case="active" class="page-link" th:href="@{|/bet/user/created/active/${pageNumber}|}" th:text="${pageNumber}"></a>
							<a th:case="ended" class="page-link" th:href="@{|/bet/user/created/ended/${pageNumber}|}" th:text="${pageNumber}"></a>
							<a th:case="closed" class="page-link" th:href="@{|/bet/user/created/closed/${pageNumber}|}" th:text="${pageNumber}"></a>
						</li>
					</ul>
					<ul th:case="admin" class="pagination justify-content-center">
						<li class="page-item" th:each="pageNumber : ${pageNumbers}">
							<a class="page-link" th:href="@{|/bet/admin/all/${pageNumber}|}" th:text="${pageNumber}"></a>
						</li>
					</ul>
					<ul th:case="modo" class="pagination justify-content-center">
						<li class="page-item" th:each="pageNumber : ${pageNumbers}">
							<a class="page-link" th:href="@{|/bet/moderator/all/${pageNumber}|}" th:text="${pageNumber}"></a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div th:unless="${betList != null && !betList.isEmpty()}" class="row">
	        <div class="col-12 text-center mt-3">
	            <i class="fas fa-ghost pb-icon-xl"></i>
	            <h3>
	            	No bets are available here.
	            	<br>
	            	Try searching in other page or in the search bar.
	            </h3>
	        </div>
		</div>
	</div>
	
	<div th:replace="fragments/endbody :: endbody"></div>
</body>
</html>