<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
			
				<!-- Search form -->
				<div class="offset-md-2 col-md-8">
			        <fieldset class="form-group">
			            <legend class="border-bottom mb-4"><h2>Search bets</h2></legend>
			            
						<form class="row" th:action="@{/search/1}" method="post">
				    		<div class="form-group col-12">
					    		<label class="font-weight-bold">Subject</label>
					    		<input class="form-control font-weight-bold" name="betSubject" type="text">
				    		</div>
				    		
				    		<div class="form-group col-12">
					    		<label class="font-weight-bold">Owner</label>
								<div th:if="${#lists.size(users) &gt; 0}">
									<select class="form-control form-control-lg" th:name="searchedOwner">
										<option value="-1" utext="" selected="selected" />
										<option th:each="owner : ${users}" th:value="${owner.id}" th:utext="${owner.nickname}" />
									</select>
								</div>
								<div th:unless="${#lists.size(users) &gt; 0}">
									There is no bet owner to display
								</div>
				    		</div>
				    		
							<div class="text-right col-12">
								<button class="btn btn-dark pb-btn-lg" name="Submit" value="Update" type="Submit">Search</button>
							</div>
				    	</form>
			        </fieldset>
			    </div>
			    
			    <!-- List of bets -->
				<div class="row" th:if="${searchList != null && !searchList.isEmpty()}">
					<div class="col-12 col-sm-6 col-lg-4 mb-5" th:each="bet : ${searchList}">
						<div class="card bg-light">
							<div class="card-header"><h2 th:text="${bet.subject}"></h2></div>
						    <div class="card-body">

					    		<div class="form-group">
						    		<label class="font-weight-bold">Ending Date</label>
						    		<input class="form-control font-weight-bold" type="text" th:value="${#dates.format(bet.endingDate, 'dd MMMMM yyyy')}" disabled>
					    		</div>
					    		
					    		<div class="form-group">
						    		<label class="font-weight-bold">Bet's owner</label>
						    		<input class="form-control font-weight-bold" type="text" th:value="${bet.owner.nickname}" disabled>
					    		</div>
					    		
								<div class="form-group row">
						            <div class="col-12 mb-3">
							            <form th:action="@{/bet/} + ${bet.id}" method="get">
							            	<button type="submit" class="btn btn-outline-dark pb-btn-neutral-md">
							            		<i class="fas fa-search-plus"></i>
							            		Detail
						            		</button>
							            </form>
							        </div>
						            
						            <div class="btn-group col-12">
							            <form class="mr-3" th:if="${canModify != null}" th:action="@{/bet/} + ${bet.id} + @{/update}" method="get">
							            	<button type="submit" class="btn btn-outline-dark pb-btn-neutral-2-md">
							            		<i class="fas fa-edit"></i>
							            		Modify
						            		</button>
							            </form>
							            
							            <form th:if="${canDelete != null}" th:action="@{/bet/} + ${bet.id} + @{/delete}" method="post">
							            	<button type="submit" class="btn btn-outline-dark pb-btn-danger-md">
							            		<i class="fas fa-trash-alt"></i>
							            		Delete
						            		</button>
							            </form>
						            </div>
					            </div>
						    </div>
						</div>
					</div>
				</div>
				<div class="row" th:unless="${searchList != null && !searchList.isEmpty()}">
					<p class="col-12 text-center">
						NO BETS - GUIGUI
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/endbody :: endbody"></div>
</body>
</html>