<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
			
			    <div class="offset-md-2 col-md-8">
			        <fieldset class="form-group">
			            <legend class="border-bottom mb-4"><h2>Update bet</h2></legend>
	
						<form class="row" th:action="@{/bet/} + ${bet.id} + @{/update}" th:object="${bet}" method="post">
		
				    		<div class="form-group col-12">
					    		<label class="font-weight-bold">Subject</label>
					    		<input class="form-control font-weight-bold" type="text" th:field="*{subject}">
				    		</div>
				    		
				    		<div class="form-group col-12">
					    		<label class="font-weight-bold">Ending Date</label>
					    		<input class="form-control font-weight-bold" type="date" th:field="*{endingDate}">
				    		</div>
				    		
				    		<div class="form-group col-12">
					    		<label class="font-weight-bold">Amount</label>
					    		<input class="form-control font-weight-bold" type="number" th:field="*{amount}">
				    		</div>
							
							<div class="text-right col-12">
								<button class="btn btn-dark pb-btn-lg" name="Submit" value="Update" type="Submit">Update</button>
							</div>
						</form>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/endbody :: endbody"></div>
</body>
</html>
