.pb-nav-logo {
	height : 30px;
}

.pb-icon {
    width: 20px;
}

.pb-hr {
    border: 1px solid black;
}

.pb-text-lg {
    font-size: 40px;
}

.pb-text-md {
    font-size: 20px;
}

.pb-text-link {
	color: #363636;
}

.pb-text-link:hover {
	color: black;
}

.pb-icon-sm {
    font-size: 30px;
}

.pb-icon-md {
    font-size: 40px;
}

.pb-icon-xl {
    font-size: 80px;
}

.pb-success-msg {
    color: green;
}

.pb-error-msg {
    color: red;
}

.pb-btn-lg {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1.5em;
    box-shadow: #3a3a3a 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-agree-lg {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1.5em;
    box-shadow: darkgreen 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-agree-lg:hover {
	background-color: green;
}

.pb-btn-disagree-lg {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1.5em;
    box-shadow: darkred 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-disagree-lg:hover {
	background-color: red;
}

.pb-btn-neutral-lg {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1.5em;
    box-shadow: gray 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-neutral-lg:hover {
	background-color: gray;
}

.pb-btn-neutral-md {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1em;
    box-shadow: gray 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-neutral-md:hover {
	background-color: gray;
}

.pb-btn-neutral-2-md {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1em;
    box-shadow: darkblue 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-neutral-2-md:hover {
	background-color: blue;
}

.pb-btn-success-md {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1em;
    box-shadow: darkgreen 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-success-md:hover {
	background-color: green;
}

.pb-btn-danger-md {
    border-radius: 0.8em;
    border: 0em solid rgb(54, 54, 54);
    font-size: 1em;
    box-shadow: darkred 0em 0em 0.3em;
    font-weight: bold;
}

.pb-btn-danger-md:hover {
	background-color: red;
}

.pb-search-bar {
	width: 200px !important;
}

.pb-agree-result-title {
	background-color: #9fcffb !important;
	color: black;
	border: 3px solid black;
}

.pb-disagree-result-title {
	background-color: #efa5f5 !important;
	color: black;
	border: 3px solid black;
}

.pb-agree-result {
	background-color: darkgreen !important;
	color: white;
	border: 4px solid black;
	border-radius: 20px;
}

.pb-disagree-result {
	background-color: darkred !important;
	color: white;
	border: 4px solid black;
	border-radius: 20px;
}

.pb-agree {
	background-color: #9fcffb !important;
	color: black;
	border: 4px solid black;
	border-radius: 20px;
}

.pb-disagree {
	background-color: #efa5f5 !important;
	color: black;
	border: 4px solid black;
	border-radius: 20px;
}

.pb-agree-user {
	font-size: 1.2em;
	border: 4px solid darkgreen;
}

.pb-disagree-user {
	font-size: 1.2em;
	border: 4px solid darkred;
}

/* Extra large devices (large desktops, 1200px and down) */
@media (max-width: 1200px) {
	
}

/* Large devices (desktops, 992px and down) */
@media (max-width: 992px) {
    
}

/* Medium devices (tablets, 768px and down) */
@media (max-width: 768px) {
    
}

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) {
	
}