
<div th:fragment="header">
	<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	    <div class="container">
	        <a class="navbar-brand p-0" href="/">
				 <img th:src="@{/favicon.png}"
				 	class="img-fluid pb-nav-logo" alt="Pense BET"/>
	        </a>
	
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	
	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <!-- Left Side Of Navbar -->
	            <ul class="navbar-nav mr-auto">
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/bet/user/waiting/1}">
	                        <i class="far fa-hourglass mr-1"></i>
	                        Waiting
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/bet/user/active/1}">
	                        <i class="fas fa-hourglass-half mr-1"></i>
	                        Active
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/bet/user/ended/1}">
	                        <i class="fas fa-hourglass-end mr-1"></i>
	                        Ended
	                    </a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" th:href="@{/bet/user/closed/1}">
	                        <i class="fas fa-clipboard-check mr-1"></i>
	                        Closed
	                    </a>
	                </li>
	            </ul>
	
	            <!-- Right Side Of Navbar -->
	            <ul class="navbar-nav ml-auto" th:if="${loggedUser != null}">
	            
	            	<div class="d-lg-inline-block d-none">
					    <form th:action="@{/search/1}" method="post" class="form-inline">
					    	<input class="pb-search-bar form-control mr-sm-2" type="text" name="betSubject" />
					     	<button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="submit"><i class="fas fa-search"></i></button>
					    </form>
	            	</div>
		            	
	                <li class="nav-item dropdown">
	                    <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" v-pre>
	                        <span th:text="${loggedUser.nickname}"></span> <span class="caret"></span>
	                        <i class="fas fa-user ml-1"></i>
	                    </a>
	
	                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
	                        
	                        <a class="dropdown-item" th:href="@{/bet/user/created/closed/1}">
		                        <i class="fas fa-wallet mr-1"></i>
		                        <span th:text="${loggedUser.money}"></span>
	                        </a>
	                        
	                        <a class="dropdown-item" th:href="@{/bet/create}">
	                            <i class="fas fa-plus-circle mr-1"></i>
	                            Create new bet
	                        </a>
	                        
	                        <a class="dropdown-item d-inline-block d-lg-none" th:href="@{/search/1}">
	                            <i class="fas fa-search mr-1"></i>
	                            Search bets
	                        </a>
	
	                        <a class="dropdown-item" th:href="@{/logout}">
	                            <i class="fas fa-sign-out-alt mr-1"></i>
	                            Logout
	                        </a>
	                        
	                        <hr>
	                        
	                        <a class="dropdown-item" th:href="@{/bet/user/created/active/1}">
		                        <i class="fas fa-hourglass-half mr-2"></i>
		                        Active
	                        </a>
	                        
	                        <a class="dropdown-item" th:href="@{/bet/user/created/ended/1}">
		                        <i class="fas fa-hourglass-end mr-2"></i>
		                        Ended
	                        </a>
	                        
	                        <a class="dropdown-item" th:href="@{/bet/user/created/closed/1}">
		                        <i class="fas fa-clipboard-check mr-2"></i>
		                        Closed
	                        </a>
	                    </div>
	                </li>
	            	
	            </ul>
	        </div>
	    </div>
	</nav>
</div>