
<div th:fragment="content">
	<h1>Detail bet</h1>
	<p th:text="${bet.subject}"></p>
	<p th:text="${bet.endingDate}"></p>
	<p th:text="${bet.amount}"></p>
	<div>
		<form th:action="@{/bet/} + ${bet.id} + @{/invite}" th:object="${invitation}" method="post">
			Invitation 
			<select th:field="*{user}">
			    <option th:each="user : ${users}"
	                          th:value="${user.id}"
	                          th:utext="${user.nickname}"/>
			</select>
			<button type="submit">Register participant</button>
		</form>
	</div>
</div>