<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<div th:replace="fragments/header :: header"></div>
	
	<div class="container">
		<div class="row">
			<div class="col-12 mt-3">
			
			    <div class="offset-md-2 col-md-8">
			        <fieldset class="form-group">
			            <legend class="border-bottom mb-4"><h2>Register</h2></legend>
			    
						<form id="register" autocomplete="off" action="#"
							th:action="@{/register}" th:object="${user}" method="post"
							class="form-horizontal" role="form">
													
							<div class="form-group row">
								<div class="input-group col-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fas fa-at"></i>
										</span>
									</div>
									
									<input type="text" th:field="*{email}" placeholder="Email" class="form-control" required />
									<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message"></label>
								</div>
							</div>
								
							<div class="form-group row">
								<div class="input-group col-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fas fa-user"></i>
										</span>
									</div>
									
									<input type="text" th:field="*{nickname}" placeholder="Nickname" class="form-control" required />
									<label th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}" class="validation-message"></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="input-group col-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fas fa-key"></i>
										</span>
									</div>
									
									<input type="password" th:field="*{password}" placeholder="Password" class="form-control" required />
									<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="validation-message"></label>
								</div>
							</div>

							<div class="form-group row">
								<div class="input-group col-12">
									<div class="input-group-prepend">
										<span class="input-group-text">
											<i class="fas fa-lock"></i>
										</span>
									</div>
									
									<input type="password" placeholder="Confirmation - todo" class="form-control" />
								</div>
							</div>
							
							<div class="text-right">
								<button class="btn btn-dark pb-btn-lg" name="Submit" value="Register" type="Submit">Register</button>
							</div>
				
							<span th:utext="${successMessage}"></span>
							
						</form>
			        
				        <div class="border-top pt-3 my-3">
				            <small class="text-muted">
				                Already Have An Account? <a class="ml-2" href="@{/login}">Sign In</a>
				            </small>
				        </div>
			        </fieldset>
			    </div>
			</div>
		</div>
	</div>
	
	<div th:replace="fragments/endbody :: endbody"></div>
</body>
</html>